.contact {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }

.contact h2 {
  padding-bottom: 3rem;
  }
  
  .contact-content {
    background: var(--bg-primary);
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 8px 32px var(--shadow-color);
    text-align: center;
  }
  
  .contact-content p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    color: var(--text-primary);
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
    border-radius: 15px;
    background: var(--bg-secondary);
    color: var(--text-primary);
    text-decoration: none;
    transition: all 0.3s ease;
    min-width: 150px;
    box-shadow: 6px 6px 5px var(--shadow-color);
  
  }
  
  .social-link:hover {
    transform: translateY(-5px);
    background: var(--accent-gradient);
    color: white;
  }
  
  .social-link svg {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .social-link span {
    font-size: 1rem;
    font-weight: 500;
  }

  @media (max-width: 900px) {
   .contact {
padding: 1rem;
   }

   .contact h2 {
    padding-bottom: 1rem;
   }
    }
  

  @media (max-width: 768px) {
    .social-links {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  
    .social-link {
      width: 100%;
      max-width: 300px;
    }
  }