.softskills {
    width: 100%;
    max-width: 1200px;
}

.softskills h2 {
    padding-bottom: 1.3rem;
}

.softskills-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2rem;
    background: var(--bg-primary);
}

.tech-skills, .life-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
    border-radius: 15px;
    background: var(--bg-secondary);
    color: var(--text-primary);
    text-decoration: none;
    transition: all 0.3s ease;
    min-width: 150px;
    box-shadow: 6px 6px 12px var(--shadow-color);
}

.tech-skills h3, .life-skills h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-primary)
}

@media (max-width: 900px) {
   .softskills-content {
    padding: 1rem;
   }

   .softskills h2 {
    padding-top: 1rem;
    padding-bottom: 0.3rem;
}
}
