.softskills {
    width: 100%;
    max-width: 1200px;
}

.softskills h2 {
    padding-bottom: 1.3rem;
}

.softskills-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    gap: 2rem;
    background: var(--bg-primary);
}

.tech-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 15px;
    background: var(--bg-secondary);
    color: var(--text-primary);
    min-width: 300px;
    width: 48%;
    box-shadow: 6px 6px 12px var(--shadow-color);
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 1s ease, transform 1s ease;
}

.tech-skills.visible {
    opacity: 1;
    transform: translateX(0);
  }

.life-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 15px;
    background: var(--bg-secondary);
    color: var(--text-primary);
    min-width: 300px;
    width: 48%;
    box-shadow: 6px 6px 12px var(--shadow-color);
    opacity: 0;
    transform: translateX(200px);
    transition: opacity 1s ease, transform 1s ease;
}

.life-skills.visible {
    opacity: 1;
    transform: translateX(0);
  }

.tech-skills h3, .life-skills h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-primary)
}

.tech-skills li, .life-skills li {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
}

@media (max-width: 900px) {
   .softskills-content {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
   }

   .softskills h2 {
    padding-top: 1.1rem;
    padding-bottom: 0.3rem;
    }

    .tech-skills, .life-skills {
        width: 100%;
    }
}
